<div class="alert alert-danger" *ngIf="error">{{ error }}</div>
<div class="alert alert-success" *ngIf="success">{{ success }}</div>

<div id="theForm">
  <h2>The form</h2>
  <form #f="ngForm" name="theForm" (submit)="addOnderdelen(f)">
    <div class="form-group">
      <label>object</label>
      <input
        type="text"
        class="form-control"
        name="object"
        [(ngModel)]="onderdeel.object"
        #onderdeelObject="ngModel"
        required
        pattern="^[a-zA-Z ]+$"
      />
      <small
        class="form-text text-danger"
        *ngIf="onderdeelObject.errors?.['required'] && onderdeelObject.touched"
      >
        The object name is required
      </small>
      <small
        class="form-text text-danger"
        *ngIf="onderdeelObject.errors?.['pattern'] && onderdeelObject.touched"
      >
        The object name can only contain the letters a-z or A-Z
      </small>
    </div>
    <div class="form-group">
      <label>catagorie</label>
      <input
        type="text"
        class="form-control"
        name="catagorie"
        [(ngModel)]="onderdeel.catagorie"
        #onderdeelCatagorie="ngModel"
        required
        pattern="^[a-zA-Z ]+$"
      />
      <small
        class="form-text text-danger"
        *ngIf="onderdeelCatagorie.errors?.['required'] && onderdeelCatagorie.touched"
      >
        The catagorie name is required
      </small>
      <small
        class="form-text text-danger"
        *ngIf="onderdeelCatagorie.errors?.['pattern'] && onderdeelCatagorie.touched"
      >
        The catagorie name can only contain the letters a-z or A-Z
      </small>
    </div>
    <div class="form-group">
      <label>Price</label>
      <input
        type="number"
        class="form-control"
        name="price"
        required
        [(ngModel)]="onderdeel.price"
        #onderdeelPrice="ngModel"
      />
      <small
        class="form-text text-danger"
        *ngIf="onderdeelPrice.errors?.['required'] && onderdeelPrice.touched"
      >
        The price is required
      </small>
    </div>
    <div class="form-group">
      <label>merk</label>
      <input
        type="text"
        class="form-control"
        name="merk"
        [(ngModel)]="onderdeel.merk"
        #onderdeelMerk="ngModel"
        required
        pattern="^[a-zA-Z ]+$"
      />
      <small
        class="form-text text-danger"
        *ngIf="onderdeelMerk.errors?.['required'] && onderdeelMerk.touched"
      >
        The merk name is required
      </small>
      <small
        class="form-text text-danger"
        *ngIf="onderdeelMerk.errors?.['pattern'] && onderdeelMerk.touched"
      >
        The merk name can only contain the letters a-z or A-Z
      </small>
    </div>
    <button class="btn btn-primary btn-sm" [disabled]="f.invalid">Add</button>
  </form>
</div>

<div id="theList">
  <h2>The list</h2>

  <div class="container">
    <div *ngFor="let item of onderdelen; let i = index" class="row">
      <div class="col-4">
        <input
          type="text"
          [(ngModel)]="onderdelen[i].object"
          class="form-control"
          required
          pattern="^[a-zA-Z ]+$"
          #object="ngModel"
          [ngClass]="{ 'is-invalid': object.touched && object.invalid }"
        />
      </div>
      <div class="col-4">
        <input
          type="text"
          [(ngModel)]="onderdelen[i].catagorie"
          class="form-control"
          required
          pattern="^[a-zA-Z ]+$"
          #catagorie="ngModel"
          [ngClass]="{ 'is-invalid': catagorie.touched && catagorie.invalid }"
        />
      </div>
      <div class="col-4">
        <input
          type="number"
          [(ngModel)]="onderdelen[i].price"
          class="form-control"
          required
          #price="ngModel"
          [ngClass]="{ 'is-invalid': price.touched && price.invalid }"
        />
      </div>
      <div class="col-4">
        <input
          type="text"
          [(ngModel)]="onderdelen[i].merk"
          class="form-control"
          required
          pattern="^[a-zA-Z ]+$"
          #merk="ngModel"
          [ngClass]="{ 'is-invalid': merk.touched && merk.invalid }"
        />
      </div>
      <div class="col-4">
        <input
          type="button"
          value="Update"
          class="btn btn-primary btn-sm"
          [disabled]="object.invalid || catagorie.invalid || price.invalid || merk.invalid"
          (click)="updateOnderdelen(object, catagorie, price, merk, item.id)"
        />

        <input
          type="button"
          value="Delete"
          class="btn btn-danger btn-sm"
          (click)="deleteOnderdelen(item.id? item.id:0)"
        />
      </div>
    </div>
  </div>
</div>
